
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<tr>
    <td>@Html.ActionLink("Search", "Search")</td>
</tr>

<tr>
    <td>@Html.ActionLink("SearchByPhrase", "SearchByPhrase")</td>
</tr>